[defaults]
inventory = hosts

[ssh_connection]
pipelining = True
ssh_args = -C -o ControlMaster=auto -o ControlPersist=60s -o PreferredAuthentications=publickey

[privilege_escalation]
become = True
become_method = doas
become_user = root
